// Color Variables

$dark-grey: #333333;
$medium-grey: #666666;
$light-grey: #999999;

$black: #191919;
$white: #ffffff;

// Assets Path

$fontPath: "../../../assets/fonts";
$imagesPath: "../../../assets/images";
