.hero-banner {
  background-image: url(#{$imagesPath}/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  &-text {
    font-family: Rufina-Regular;
    width: 80%;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    z-index: 1;
    h2 {
      color: $white;
      letter-spacing: 1px;
      font-size: 2.4em;
      line-height: 40px;
    }
  }
  .action-button {
    z-index: 1;
  }
}
